body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url('../img/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-header {
    margin-bottom: 75px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation__logo {
    order: 1;
}

.logo__img {
    display: block;
    width: 371px;
    height: 155px;
}

.main-navigation__wrap {
    width: 100%;
    margin-bottom: 50px;
    color: #ffffff;
    background-color: #000000;
}

.main-navigation__inner-wrap {
    display: flex;
    justify-content: space-between;
}

.site-navigation,
.user-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation {
    width: 620px;
}

.user-navigation {
    max-width: 220px;
}

.site-navigation__link,
.user-navigation__link {
    display: block;
    padding: 26px 20px;
    color: #ffffff;
}

.login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('../img/login.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before {
    opacity: 1;
}

.site-navigation__link:hover,
.site-navigation__link:focus,
.user-navigation__link:hover,
.user-navigation__link:focus {
    background-color: #242424;
}

.features {
    margin-bottom: 80px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features__item {
    padding: 0 10px;
    width: 280px;
    text-align: center;
}

.features__title {
    position: relative;
    margin: 0 0 65px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
    color: #f7f4f1;
}

.features__title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: rotate(45deg);
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background-color: #f7f4f1;
}

.features__text {
    margin: 0;
    padding: 0;
}

.block-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    padding: 50px 80px;
    color: #000000;
    background-color: #f8f5f2;
    background-image: url('../img/line-decor.png'), url('../img/background-ripple.jpg');
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.block-columns:last-child {
    margin-bottom: 65px;
}

.news {
    width: 380px;
}

.news__title,
.gallery__title,
.contact-info__title,
.appointment__title {
    margin: 0 0 25px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
}

.news__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.news__item {
    margin-bottom: 25px;
}

.news__text {
    margin: 0;
    padding: 0;
}

.news__date {
    text-transform: none;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px;
    min-width: 140px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

.button--disabled {
    cursor: auto;
    background-color: #cccccc;
    color: #666666;
}

.button:hover:not(.button--disabled),
.button:focus:not(.button--disabled) {
    background-color: #663d15;
}

.gallery {
    width: 300px;
}

.gallery__block {
    margin: 0 0 38px;
    border: 7px solid #ffffff;
}

.gallery__control {
    display: flex;
    justify-content: space-between;
}

.gallery__link {
    display: block;
    width: 286px;
    height: 164px;
}

.contact-info {
    width: 380px;
}

.contact-info__address {
    font-style: normal;
}

.contact-info__phone {
    margin: 0 0 30px;
}

.contact-info__number {
    color: #000000;
}

.contact-info__number:hover,
.contact-info__number:focus {
    text-decoration: underline;
}

.contact-info__work-hours {
    margin: 0 0 27px;
}

.contact-info__control {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.appointment {
    width: 300px;
}

.appointment__text {
    margin: 0 0 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
}

.form__input-wrap {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 140px;
}

.form__name {
    padding: 7px 15px;
}

.input {
    font: inherit;
    box-sizing: border-box;
    width: 140px;
    padding: 7.5px 15px;
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.input:hover,
.input:focus {
    border: 2px solid #663d15;
}

.appointment__submit {
    flex-grow: 1;
    margin-top: 20px;
}

.main-footer {
    width: 100%;
    padding: 60px 0 40px;
    color: #ffffff;
    background-color: #232323;
    background-image: url('../img/background-ripple-footer.jpg');
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer__inner {
    display: flex;
}

.main-footer__contact {
    margin-right: 80px;
}

.contact {
    width: 320px;
}

.contact__address {
    font-style: normal;
}

.contact__link {
    color: #ffffff;
    text-decoration: underline;
}

.contact__link:hover {
    text-decoration: none;
}

.contact__phone {
    margin: 0;
}

.contact__number {
    color: #ffffff;
}

.contact__number:hover,
.contact__number:focus {
    text-decoration: underline;
}

.social {
    width: 141px;
    text-align: center;
}

.social__text {
    display: block;
    margin-bottom: 18px;
}

.social__list {
    display: flex;
    justify-content: space-between;
    width: 141px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
}

.social__link:hover,
.social__link:focus {
    background-color: #ffffff;
}

.social__link:hover path,
.social__link:focus path {
    fill: #000000;
}

.main-footer__developed {
    margin: 0;
    margin-left: auto;
}

.developed {
    width: 140px;
    text-align: center;
}

.developed__text {
    display: block;
    margin-bottom: 18px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color: #f8f5f2;
    background-image: url('../img/background-ripple.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0px 35px 30px 5px rgba(0, 1, 1, 0.75);
}

.modal__close {
    position: absolute;
    top: 0;
    right: -32px;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal__cross {
    fill: #d0d0d0;
    width: 19px;
    height: 19px;
}

.modal__close:hover .modal__cross,
.modal__close:focus .modal__cross {
    fill: #ffffff;
}

.modal-map {
    display: none;
    width: 766px;
    height: 560px;
    border: 7px solid #ffffff;
}

.modal-map__inter {
    margin: 0;
}

.modal-map__img {
    display: block;
    width: 766px;
    height: 560px;
}

.modal-login {
    display: none;
    width: 300px;
    padding: 48px 80px 58px;
}

.modal-login__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-login__text {
    margin: 0;
    margin-bottom: 15px;
}

.form-user__input-wrap {
    position: relative;
    margin: 0;
    margin-bottom: 9px;
}

.form-user__login {
    background-image: url('../img/user.svg');
    background-position: 270px center;
    background-repeat: no-repeat;
}

.form-user__password {
    background-image: url('../img/lock.svg');
    background-position: 270px center;
    background-repeat: no-repeat;
}

.form-user {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.form-user__login,
.form-user__password {
    width: 300px;
    padding-left: 15px;
    padding-right: 39px;
}

.form-user__icon::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.form-user__icon--user::before {
    background-image: url('../img/user.svg');
}

.form-user__icon--lock::before {
    background-image: url('../img/lock.svg');
}

.form-user__check-info {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 17px;
}

.form-user__login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.form-user__login-checkbox:hover,
.form-user__login-checkbox:focus {
    color: #663d15;
}

.form-user__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-user__remember+.form-user__indicator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.form-user__remember:hover+.form-user__indicator,
.form-user__remember:focus+.form-user__indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.form-user__remember:not(:checked)+.form-user__indicator .form-user__indicator-cross {
    display: none;
}

.form-user__remember:checked+.form-user__indicator .form-user__indicator-cross {
    display: block;
}

.form-user__restore {
    color: #000000;
    text-decoration: underline;
}

.form-user__restore:hover,
.form-user__restore:focus {
    text-decoration: none;
}

.form-user__submit {
    width: 100%;
}

.modal--show {
    display: block;
    animation-name: behavior-form;
    animation-duration: 0.6s;
}

.modal--error {
    animation-name: shake-form;
    animation-duration: 0.6s;
}

@keyframes behavior-form {
    0% {
        transform: translate(-50%, -2000px);
    }

    70% {
        transform: translate(-50%, calc(-50% + 30px));
    }

    90% {
        transform: translate(-50%, calc(-50% + -10px));
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes shake-form {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(calc(-50% - 10px), -50%);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(calc(-50% + 10px), -50%);
    }
}